/* ---------------------------- CARD START ---------------------------- */

.card {
    width: 400px;
    height: 450px;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--color-white);
    position: relative;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  }
  
  .product {
    position: absolute;
    top: 35px;
    left: 50px;
    z-index: 9;
    cursor: pointer;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .product:hover {
    transform: rotate3d(1, 1, 10, 360deg) scale(110%);
    transition-delay: .10s;
  }
  
  .product img {
    width: 300px;
    height: 300px;
  }
  
  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--color-info-light);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .description {
    font-size: 18px;
    font-weight: 500;
  }
  /* CARD  END */
  
  